# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*~
*.DS_Store


Debug/*
ipch/*ipch
ipch/*
WIN32.opensdf
WIN32.sdf
WIN32.suo
WIN32.vcxproj.filters
WIN32.vcxproj.user
